/*~~~~~~~~~~~~~~~
    RESET
~~~~~~~~~~~~~~~*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*~~~~~~~~~~~~~~~
    DEBUGG
~~~~~~~~~~~~~~~*/
/* .db .board {
    background-color: lightgreen;
    max-width: 700px;
    height: 600px;
}

.db .extraction {
    background-color: lightblue;
    max-width: 150px;
    height: 200px;
}

.db .awards {
    background-color: red;
    max-width: 150px;
    height: 100px;
} */

/* #board div:nth-child(3) {
    background-color: yellow;
} */

/*~~~~~~~~~~~~~~~
    TIPOGRAPHY
~~~~~~~~~~~~~~~*/
* {
    font-family: "Lobster", serif;
    font-weight: 400;
    font-style: normal;
}
    
    
h1 {
    color: gold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 50px;
}

h3 {
    padding-top: 20px;
}


/*~~~~~~~~~~~~~~~
    BUTTONS
~~~~~~~~~~~~~~~*/
.btn {
    cursor: pointer;
}

.btn#extraction {
    padding: 10px;
    border-radius: 10px;
    font-weight: 700;
}

.awards .btn {
    padding: 10px 5px;
    width: 40%;
    border-radius: 10px;
    border: 2px solid gold;
}
    

/*~~~~~~~~~~~~~~~
GENERAL
~~~~~~~~~~~~~~~*/
.container {
    max-width: 900px;   
    margin: 0 auto; 
}

.d-flex {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

body {
    background-color: green;
}

.hidden {
    display: none;
}

/*~~~~~~~~~~~~~~~
GAME-SETTING
~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~
BOARD
~~~~~~~~~~~~~~~*/
#board {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 70%;
}

.cell {
    width: calc(100% / 10);
    aspect-ratio: 1/1;
}

.cell,
.cell div {
    text-align: center;
    align-content: center;
    border-radius: 50%;
    
}

.cell div {
    color: black;
    background-color: white;
    width: 80%;
    height: 80%;
    font-weight: 900;
}

.cell > .extracted {
    color: red;
    border: 1px solid red;
    background-color: #FFB2B2;
    box-shadow: -2px 3px 0px 0px red;
}


/*~~~~~~~~~~~~~~~
EXTRACTION
~~~~~~~~~~~~~~~*/
.extraction {
    text-align: center;
    color: goldenrod;
}

#last-extraction {
    padding: 20px;
    margin: 15px 55px;
    font-size: 32px;
    font-weight: 900;
    color: red;
    background-color: white;
    width: 75px;
}


/*~~~~~~~~~~~~~~~
AWARDS
~~~~~~~~~~~~~~~*/
.awards {
    margin-top: 50px;
}

.awards > div {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*~~~~~~~~~~~~~~~
GAME-RESET
~~~~~~~~~~~~~~~*/